<configuration>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>manager_app.log</file>
        <encoder>
            <pattern>%level %date: [%thread] %logger{10} [%file:%line] - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="FILE" />
    </root>

</configuration>
